<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android"
    android:versionCode="1"
    android:versionName="1.0" >

	<application
		android:allowBackup="true">
        <activity android:name="android.app.NativeActivity">
            <meta-data android:name="android.app.lib_name"
                android:value="native-activity" />
        </activity>
 
    </application>
</manifest>
